*{
  font-family: "Lato", sans-serif;
  font-weight: 350;
  font-style: normal;
}
.carousel{
    width:30vw;
    margin:auto;
}
img{
    margin-left:0;
}
.carousel-control-next-icon{
    color:white;
    text-shadow: black 1px 1px 1px;
}
h3{
    font-family: "Dancing Script", cursive;
    font-weight: 500;
}
.carousel-title{
    text-shadow: 2px 2px 1px #0000008e;
}